#hero-section{
    text-align: center;
    color: paleturquoise;
    font-size: xx-large;

}
.introduction{
    text-align: center;
    font-size: x-large;

}
.hero{
    background-color:yellowgreen;
    position: relative;
    height: 80vh;
    margin-top: 0%;
}
.navbar{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: black;
    display : flex;
    gap: 20px;
    height: 30px;
    line-height: 30px;

}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}