#hero-section{
    text-align: center;
    color: paleturquoise;
    font-size: xx-large;
}
.introduction{
    text-align: center;
    font-size: x-large;

}
.hero{
    background-color:yellowgreen;
    height: auto;
    position: relative;
    height: 80vh;
}