#hero-section{
    text-align: center;
    color: paleturquoise;
    font-size: xx-large;

}
.introduction{
    text-align: center;
    font-size: x-large;

}
.hero{
    background-color:yellowgreen;
    position: relative;
    height: 80vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
position:relative;
position :absolute;
top: 0;
max-width: 100%;
    background-color: black;
    padding: 1rem;
}